body {
    font-family: "Jost", sans-serif;
}

.navbar {
    padding: 0.5rem;
    background-color: #1F456E !important; /* Cambiar el color del nav */
}

.navbar-brand {
    color: white;
}


.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
    color: white !important;
}

.navbar-toggler {
    margin-right: auto; /* Mover el botón a la izquierda */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambia el color del icono a blanco */
}

.offcanvas-start {
    left: 0;
    right: auto;
}

.offcanvas-header {
    background-color: #1F456E;
    color: white;
}

.nav-link:hover {
    color: #09f;
    text-decoration: underline;
}

.navbar-nav.mt-auto {
    margin-top: auto;
}

.dashboard h1 {
    margin-top: 1rem;
}


.form-product h1 {
    margin-top: 4rem;
}

.listado h1 {
    margin-top: 4rem;
}
